body {
    margin: 0;
    font-size: 100%;
    font-family: "Segoe Print", cursive;
    color: orange;
}

main {
    text-align: center;
    width: 900px;
    background-color: gray;
    margin: 3% auto 3% auto;
    padding: 30px;
}

h2 {
    padding-top: 50px;
}

input {
    padding: 3px 15px;
    min-height: 30px;
    border-radius: 5px;
}

button {
    margin-top: 2%;
    min-height: 40px;
    border-radius: 5px;
    background-color: orange;
    color: rgb(39, 35, 35);
    min-width: 100px;
}

.players {
    display: flex;
    justify-content: space-between;
    min-height: 50vh;
    margin: 30px auto;
    border-top: 1px solid #ccc;
}

.player-l {
    width: 50%;
    border-left: 1px solid #ccc;
}

p {
    font-size: 1em;
    text-transform: uppercase;
}