.container, .booking-container, .fields, .cupcake-line, .form-container, .cakes-line {
    display: flex;
}

.container img {
    margin: 2%;
}

.container img, .cake-container {
    width: 45%;
    margin-bottom: 3%;
}

.container, .form-container {
    margin: 4% 5% 5% 5%;
    justify-content: space-between;
    border: 2px solid #79518f;
    box-shadow: 0 0 5px 0 #333333;
    border-radius: 5px;
    background-color: #fffccf;
}

.booking-container, .fields {
    flex-wrap: wrap;
}

.cake-container {
    flex-direction: column;
}

.cake-container h2, .cake-container p {
    padding: 1% 2%;
    font-size: 20px;
    line-height: 2;
}

.cake-container h2 {
    margin-top: 3%;
    font-size: 22px;
}

.react-rater-star.is-active {
    color: #6e318b;
}

.line-left, .line-right {
    border-top: 1px dashed #6e318b;
    width: 260px;
    margin-top: 5%;
}

.cupcake-line {
    margin-top: 5%;
    margin-bottom: -3%;
    flex-direction: row;
    justify-content: center;
}

.cupcake-line .cupcake-img {
    width: 6%;
}

.form-container {
    width: 100%;
}
.description {
    margin: 3%;
    line-height: 2.1;
    font-size: 20px;
    width: 45%;
}
.field {
    flex-direction: row;
    justify-content: center;
}

.fields input {
    width: 45%;
    font-size: 17px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    border-width: 0px;
    font-weight: 500;
    margin: 3% 4% 0 0;
    -webkit-font-smoothing: antialiased;
}

.fields input[type="number"]  {
    margin-bottom: 3%;
}
.submit {
    margin: 4% 0 0 17%;
    height: 48px;
    border-radius: 5px;
    background-color: #8764ab;
    border: 2px solid #79518f;
    box-shadow: 0 2px 2px 1px #333333;
    font-weight: bold;
    color: #fcd382;
    width: 110px;
    font-size: 16px;
    padding: 1%;

}

.cakes-line {
    margin-top: -4%;
    margin-bottom: -3%;
    flex-direction: row;
    justify-content: center;
}

.cakes-line .cakes-img {
    width: 15%;
}