.recipes-h1 {
    margin-top: 12%;
}
.recipes-h2 {
    font-size: 22px;
}
.thank-page-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
}

.thank-page-line img {
    width: 15%;
}

.line-left, .line-right {
    border-top: 1px dashed #6e318b;
    width: 450px;
    margin-top: 4%;
}

footer .copyright {
    padding: 2%;
}

.description-blog p {
    padding: 1% 7%;
    font-size: 18px;
    line-height: 1.8;
    text-align: start;
}
.description-blog {
    margin: 2% 0;
}