body {
  margin: 0;
  font-size: 17px;
  font-family: "Segoe Print", cursive;
  color: orange;
  background-color: #cccccc;
}

h1, p {
  text-align: center;
  width: 900px;
  background-color: #333333;
  margin: 3% auto;
  padding: 30px;
  border-radius: 5px;
}