body {
  margin: 0;
  font-size: 100%;
  font-family: "OpenSans", sans-serif;
}

.header-container {
  display: flex;
  flex-direction: column;
}
.header-1 {
  background-color: #fafafa;
}
.header-1 p, .nav-link-2 {
  color: #b4b4b4;
}
.header-1, .nav-bar, footer {
  padding-left: 100px;
}
h1, h2, h3 {
  text-transform: uppercase;
}
.nav-bar {
  background-color: #ffffff; 
}
.nav-list {
  display: flex;
}
li {
  margin-right: 2em; 
  list-style: none;
}
.nav-list:first-child, .link {
  margin-left: -40px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.nav-link-2, .link {
  text-decoration: none;
}
footer {
  background-color: #6736cd;
  color: white;
  margin-top: -5px;
  text-align: left;
  padding-top: 40px;
}
.column-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 -10px;
}
 
.column {
  width: 25%;
  padding: 0 0 0 10px;
}
