body {
  margin: 0;
  font-size: 100%;
  font-family: "OpenSans", sans-serif;
}

.header-container {
  display: flex;
  flex-direction: column;
}
.header-1 {
  background-color: #fafafa;
  padding-top: 20px;
  padding-bottom: 20px;
}
header p, main p, .nav-link-2 {
  color: gray;
}
.header-1, .nav-bar, footer, .main-container {
  padding-left: 80px;
  padding-right: 80px;
}
h1, h2, h3 {
  text-transform: uppercase;
}
.nav-bar {
  background-color: #ffffff; 
}
.nav-list {
  display: flex;
}
li {
  margin-right: 2em; 
  list-style: none;
}
.nav-list:first-child, .link {
  margin-left: -40px;
}
.nav-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.nav-link-2, .link {
  text-decoration: none;
}
.image img {
  width: 100%;
  
}
.main-container, .column-wrap, .logotypes-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 -10px;
}
.main-column-1, .main-column-2 {
  padding: 0 0 0 10px;
  margin: 30px 30px 30px 0px;
}
.main-column-1 {
  width: 35%;
  line-height: 110%;
}
.main-column-2 {
  width: 65%;
  line-height: 130%;
}
.main-column-1 p {
  font-size: 13px;
}
.main-column-1 h3 {
  font-size: 16px;
}
footer {
  background-color: #6736cd;
  color: white;
  margin-top: 70px;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 50px;
  line-height: 2;
  font-weight: bold;
}
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:120%;
  width:70%;
  position:absolute;
}
footer a {
  color: white;
  text-decoration: none;
  padding: 10px 30px;
}
.footer-column ul {
  height: 88%;
  padding: 0;
  list-style: none;
}
.footer-column li {
  padding: 10px;
  border-top: 1px solid #675d71;
  width: 80%;
}
.footer-column li:first-child {
  border: none;
}
.link-3 {
  margin-left: 0px;
  padding-left: 10px;
}
.footer-column, .logotypes-column {
  width: 25%;
  padding: 0 0 0 10px;
}
@media screen and (max-width: 960px) {
.nav-list, .main-container, .column-wrap {
  flex-direction: column;
  }
  .logotypes-container {
    flex-wrap: wrap;
    margin: 0 0 -20px 0;
  }
  .logotypes-column {
    flex-direction: column;
    padding: 0 0 20px 0;
  }
  .logotypes-container::after {
    content: '';
    width: 100%;
    order: 0;
  }
  .logotypes-column:nth-child(n + 3) {
    order: 1;
  }
  .logotypes-column img {
    padding: 5px;
  }
  .footer-column {
    flex: 0 0 auto;
    width: 60%;
  }
  .header-1, .nav-bar, footer, .main-container {
    padding-left: 50px;
    padding-right: 30px;
  }
  .header-1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  h1 {
    font-size: 28px;
  }
  .main-column-1, .main-column-2 {
    padding: 0 0 0 5px;
    margin: 10px 10px 10px 0px;
  }
  footer {
    margin-top: 30px;
    padding-top: 20px;
    line-height: 1.5;
  }
}