body {
    margin: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}

.main {
    margin: 3% auto 0 auto;
    text-align: center;
    width: 400px;
    height: 700px;
    background-color: rgb(98, 170, 230); 
    backdrop-filter: blur(5px); 
}

h1 {
    padding: 20% 0 7% 0;
}

li {
    padding: 2% 0 2% 0;
}