body {
    margin: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #f49e4c;
    font-weight: bold;
}

.main {
    margin: 3% auto 0 auto;
    text-align: center;
    width: 400px;
    height: 700px;
    background-color: #3b8ea5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    font-size: 40px;
}

li {
    padding: 2% 0 2% 0;
    font-size: 20px;
}

li:first-child {
    font-size: 40px;
}

input {
    padding: 5px 0px;
    font-size: 18px;
    text-align: center;
}

input, button {
    border: none;
    outline: none;
}

.container {
    height: 35px;
    display: flex;
    justify-content: center;
}

.position, .search {
    background-color: #f49e4c;
}

.position {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.position img, .search img {
    width: 25px;
    vertical-align: middle;
}

.map-container {
    width: 311px;
    height: 200px;
    margin: 0 auto;
}

.weather-container, .map-container {
    opacity: 0.7;
    border-radius: 5px;
}

.weather-container {
    background-color: #3b8ea5;
    columns: 2;
    margin: 5px 44px 15px 44px;
}

a.mapboxgl-ctrl-logo {
    display: none;
}

.bg-photo {
    width: 100%;
}