body {
  margin: 0;
  font-size: 100%;
  font-family: "Segoe Print", cursive;
  color: orange;
}

.todoList, h1, p {
  text-align: center;
  width: 900px;
  background-color: gray;
  margin: 3% auto;
  padding: 30px;
  border-radius: 5px;
}

.add-todo {
  margin: 1% 20%;

}

.todoList li {
  list-style-type: none;
  
}

.todoList li .line-through {
  text-decoration: line-through;
  padding: 0 2%;
}

.todoList li .no-decoration {
  text-decoration: none;
  padding: 0 2%;
}

.info-no-items {
  width: 850px;
}
